{% extends 'base.html' %}

{% block header %}

<header class="masthead2">
  <style>
       .masthead2 {
        background: linear-gradient(to bottom, rgba(255, 255, 252, 0) 0%, rgba(255, 255, 255, 0.1) 50%, white 100%),
        url('https://source.unsplash.com/collection/11480405/1600x900');
        }
  </style>
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Australia</h1>
    </div>
  </div>
</header>

{% endblock %}


{% block content %}

<div class = "content-section margin-300">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group font-15">
            <legend class="border-bottom font-3">Add any location you want to visit</legend>


            <div class="form-group">
                {{form.territory.label(class="form-control-label")}}
                {% if form.territory.errors %}
                    {{form.territory(class="form-control form-control-lg is-invalid")}}
                    <div class = "invalid-feedback">
                        {% for error in form.territory.errors %}
                            <span>{{error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.territory(class="form-control form-control-lg")}}
                {% endif %}
            </div>


            <div class="form-group">
                {{form.placetogo.label(class="form-control-label")}}
                {% if form.placetogo.errors %}
                    {{form.placetogo(class="form-control form-control-lg is-invalid")}}
                    <div class = "invalid-feedback">
                    {% for error in form.placetogo.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{form.placetogo(class="form-control form-control-lg")}}
                {% endif %}
            </div>

            <div class="form-group">
                {{form.description.label(class="form-control-label")}}
                {% if form.description.errors %}
                    {{form.description(class="form-control form-control-lg is-invalid")}}
                    <div class = "invalid-feedback">
                    {% for error in form.description.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
                    </div>
                {% else %}
                    {{form.description(class="form-control form-control-lg")}}
                {% endif %}
            </div>


        </fieldset>
        <div class="form-group">
            {{ form.submit(class="register-btn btn-rose") }}
        </div>
    </form>
</div>

{% endblock %}


